@charset "utf-8";

ul {
  list-style: none;
  width: 1200px;
  margin-left: 772px;
}

ul > li {
  text-align: center;
  float: left;
  margin: 10px;
  padding: 20px;
}

ul > li > a {
  text-decoration: none;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}

.head_img {
  text-align: center;
}

.space > ul {
  position: absolute;
  display: none;
  margin-left: -190px;
}

.space > ul > li {
  margin-left: 30px;
  padding: 4px;
}

a:hover {
  text-decoration: underline;
  color: #333;
  font-weight: bolder;
}

.space:hover > ul {
  display: block;
}
/* *********Head 메뉴 끝********* */
.cont01 {
  width: 100%;
}
.cont_box01 {
  margin-top: 90px;
  margin-right: 800px;
  display: flex; /*가로정렬*/
  justify-content: space-between; /*양쪽에 맞춰서 정렬*/
}

.cont01 div .cont_box01 div img {
  text-align: center;
}

.cont_box01 p {
  background-size: auto;
  width: 610px;
  height: 410px;
  margin-left: 300px;
}
.cont_box01 p img {
  height: 100%;
  width: 100%;
  margin-top: 55px;
}
.cont_box01 dl {
  padding: 0px;
  margin-left: -230px;
}
.cont_box01 dl dt {
  font-size: 25px;
  font-weight: bolder;
  width: 1500px;
  margin-bottom: 20px;
  margin-right: 900px;
  margin-top: 90px;
}
/* **********************div1 끝********** */
hr {
  margin-top: 50px;
  margin-left: 100px;
}
/* ***********************라인 끝 **************/

.cont_02 dt {
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

.cont_02 .test {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 350px);
  gap: 20px;
  justify-content: center;
  margin-top: 80px;
}

.cont_02 .test2 {
  margin-top: -200px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 350px);
  gap: 20px;
  justify-content: center;
}

.cont_02 .test img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont_02 .test2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ******************cont_02 끝 */
